<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $descriptionViewModel \Rcompani\BestSelling\ViewModel\Description */
$descriptionViewModel = $block->getData('description_view_model');
$someViewModel = $block->getData('some_view_model')
?>
    <p><?= $someViewModel->getWithWordCount() ?></p>
<?= $block->getChildHtml() ?>
<p><?= __('sanananan') ?></p>
